<div class="users-index">
  <div class="index-uploader">
    <h1 class="users-heading">データ更新フォーム</h1>
        <%= form_tag("/uploader/upload_all", multipart: true) do %>
        <div class="index-uploader-form">
          <p>・参照ファイルアドレス</p>
          <%= file_field_tag :file %>
        </div>
        <div class="index-uploader-form">
         <input type="submit" value="一括更新">
         <p>↑ファイル選択後押す</p>
        </div>
        <% end %>
        <% if @error_message %>
        <div class="login-form-error">
          <%= @error_message %>
        </div>
        <% end %>
        
  </div>
  <div class="index-container">
    <h1 class="users-heading">登録社員一覧</h1>
     
　　<table class="index-table">
      <tr>
        <th class="index-t-num">社員番号</th>
        <th class="index-t-group">所属</th>
        <th class="index-t-name">氏名</th>
        <th class="index-t-content">明細表</th>
      </tr>
    <% @users.each do |user| %>
      <tr>
        <td class="index-t-num"><%= user.enum %></td>
        <td class="index-t-group"><%= user.dname %></td>
        <td class="index-t-name"><%= link_to(user.name, "/users/#{user.id}") %></td>
        <td class="index-t-content"><%= link_to("明細表", "/qyo/#{user.id}") %></td>
    <% end %>
        
      </tr>
    </table>

  </div>
</div>