<div class="user-show">
  <div class="container-show">

    <div class="content-show">
      <table class="show-t">
        <tr>
          <th align="center" colspan="3">登録内容</th>
        </tr>
      
        <tr>
          <td class="show-t-num">1</td>
          <td class="show-t-item">社員番号</td>
          <td class="show-t-content"><%= @user.enum %></td>
        </tr>

        <tr>
          <td class="show-t-num">2</td>
          <td class="show-t-item">所属</td>
          <td class="show-t-content"><%= @user.dname %></td>
        </tr>
        <tr>
          <td class="show-t-num">3</td>
          <td class="show-t-item">氏名</td>
          <td class="show-t-content"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="show-t-num">4</td>
          <td id="address" class="show-t-item">参照アドレス</td>
          <td class="show-t-content"><%= @refer %></td>
        </tr>
        <tr>
          <td class="show-t-num">5</td>
          <td class="show-t-item">パスワード</td>
          <td class="show-t-content">****</td>
        </tr>
      </table>
    </div>
    <div class="content-show">
      <div><%= link_to("編集", "/users/#{@user.id}/edit") %></div>
    </div>
  </div>
</div>